/* * {
  border: 1px solid gold;
} */
body {
  background-color: #ebeff0;
}
h1, h3 {
  font-family: 'Julius Sans One', sans-serif;
}

.onereview {
  align-content: center;
}

.address {
  font-size: 75px;
}

.location {
  font-size: 35px;
}

.abouttexttitle {
  font-size: 30px;
}

.abouttext {
  font-size: 15px;
}

.featurestitle {
  font-size: 30px;
}

.featurestext {
  font-size: 15px;
}

.guesttitle {
  font-size: 30px;
}

.guestdate {
  font-size: 12px;
}

.guestentry {
  font-size: 15px;
}

.newform {
  padding: 10px;
}

.contact-form {
  padding: 10px;
}

.footer {
  font-size: 20px;
}

img {
  width: 100%;
}

li {
  margin: 2px;
}

.socialmedia img {
  width: 35px;
  border-radius: 25%;
  margin-top: 20px;
  margin-right: 30px;
}

nav {
  padding-bottom: 80px;
  padding-left: 20px;
}

.pagecontent {
  width: 75%;
  margin: 0 auto;
}

footer {
  margin-top: 10px;
}

.add {
  margin-left: 8px;
}

.send {
  margin-left: 8px;
}

@media (max-width: 1125px) {
  .address {
    font-size: 80px;
  }

  .location {
    font-size: 50px;
  }

  .footer {
    font-size: 30px;
  }

  .button {
    font-size: 30px;
    height: 40px;
  }

  .add {
    font-size: 30px;
    height: 40px;
  }

  .send {
    font-size: 30px;
    height: 40px;
  }

  .socialmedia img {
    width: 45px;
    margin-top: 15px;
    margin-right: 25px;
  }

  .abouttexttitle {
    font-size: 50px;
  }

  .abouttext {
    font-size: 35px;
  }

  .featurestitle {
    font-size: 50px;
  }

  .featurestext {
    font-size: 35px;
  }

  .guesttitle {
    font-size: 50px;
  }

  .guestdate {
    font-size: 25px;
  }

  .guestentry {
    font-size: 35px;
  }

  nav {
    padding-bottom: 50px;
    padding-left: 10px;
  }

  input[type="text"] {
    padding: 5px;
    font-size: 30px;
  }
  textarea[type="textarea"] {
    padding: 5px;
    font-size: 30px;
  }

}
